<%= bootstrap_form_tag(url: similar_url, method: :get) do |f| %>
  <div class="p-3 row no-gutters align-items-center bg-white">
    <div class="col-auto">
      <i class="fa fa-search fa-lg"></i>
    </div>
    <div class="col">
      <%= f.text_field :terms, hide_label: true, autofocus: (@terms ? false : true), wrapper_class: 'mb-0',
                       class: 'form-control-lg form-control-borderless border-0', autocomplete: 'off',
                       value: (@terms ? InlineDataHelper.generate_inline_values(@terms) : params[:terms])
      %>
    </div>
    <div class="col-auto">
      <%= f.submit t('txt.views.search_results.submit'), class: 'btn btn-block btn-lg btn-primary p-2' %>
    </div>
  </div>
<% end %>
