<div class="text-center">
  <h1 class="my-5">
    <%= t("txt.views.similar_terms.title") %>
  </h1>

  <div class="row justify-content-center">
    <%= render 'form' %>
  </div>
</div>

<div class="my-5">
  <h2 class="text-center my-4">
    <%= t("txt.views.similar_terms.about.title") %>
  </h2>

  <div class="row col-md-6 offset-md-3">
    <%= simple_format t("txt.views.similar_terms.about.description") %>
  </div>
</div>
