<%= render 'form' %>

<div class="my-5">
  <h2 class="text-center my-4">
    <%= t("txt.views.similar_terms.about.title") %>
  </h2>

  <div class="row col-md-8 offset-md-2">
    <%= simple_format t("txt.views.similar_terms.about.description") %>
  </div>
</div>
