/.bundle
/log
/tmp
/db/*.sqlite*
/db/schema.rb
/config/database.yml
/config/initializers/secret_token.rb
*.gem

.idea

public/assets
public/export
public/uploads

.ruby-version
node_modules
Gemfile.lock
